@import '../../base/index.scss';

.clock {
   width: 240px;
   position: absolute;
   align-items: center;
   margin: 10px;
   margin-top: 30px;
   font-weight: normal;
   right: 0;
   text-align: center;
}




 

 