.log {
  margin-top: 30vh;

  &::after {
    content: '';
    position: absolute;
    height: 1px;
    vertical-align: bottom;
    width: 30rem;
    top: 43.5rem;
    left: 11.5rem;
    transform: rotate(90deg);
    background-color: #bdbdbd;
  }
}

.log-labels {
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  h6 {
    color: #858585;
    font-weight: 300;
    font-size: 0.7rem;

    &:first-child {
      padding-right: 0.7rem;
    }
  }
}
