.LogItem {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0 0.6rem;
  box-sizing: border-box;
  h1,
  h2 {
    padding: 0 1.3rem;
    margin: auto 0 0 0;
    line-height: 2.2rem;
    font-weight: 100;
  }
}

.delay-green {
  color: #27ae60 !important;
}

.delay-yellow {
  color: #f2c94c !important;
}
.delay-red {
  color: #eb5757 !important;
}
