@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow&display=swap');
@import '../../base/_color.scss';
@import '../../base/_text.scss';

.selectionItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-white;
  width: 100%;
  box-sizing: border-box;
  padding: 0 1rem;
  margin: 0.6rem 0;

  /* identical to box height */
  box-shadow: 10px 0px 0px rgba(192, 192, 192, 0.25);

  .routeContainer {
    position: relative;
    margin: auto 0;
    padding-top: 1.1rem;
    width: 150px;
    height: 100%;
  }

  span {
    margin-left: -0.5rem;
    display: block;
    height: 8px;
    width: 8px;
    transform: rotate(45deg);
  }
}

.isOnTime {
  margin: auto 0;
  text-align: left;
}
