* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
}

button {
  color: #454545;
  font-size: 1.2rem;
  border: 0;
  border-bottom: 1px solid #454545;
  border-right: 1px solid #454545;
    flex-grow: 1;
  min-width: 300px;
  height: 3rem;
}

button:first-child {
  border-left: 0;
}
